[submodule "src/ros2_sam"]
	path = src/ros_sam
	url = https://github.com/robot-learning-freiburg/ros_sam
	branch = ros2
[submodule "src/ros2_aruco"]
	path = src/ros2_aruco
	url = https://github.com/JMU-ROBOTICS-VIVA/ros2_aruco.git
	branch = opencv_4.7
[submodule "src/yolov8_ros"]
	path = src/yolov8_ros
	url = https://github.com/mgonzs13/yolov8_ros.git
